<!-- Section 1 -->
<style>

  #beat-map {
    margin-top: 200px;
  }
</style>

<div class="col-xs-12">
  <h1 id="results_header">Results for <span> Precinct <%= @precinct.name %>, Beat <%= @beat_name %></span> from <span> <%= Date.parse(@from_date).strftime('%a, %-d %b %Y') %> </span> to <span> <%= Date.parse(@to_date).strftime('%a, %-d %b %Y') %> </span></h1>
</div>

<div class="col-sm-4">
  <table class = "table table-hover" id="totals-table">
    <tablebody>

      <tr>
        
          <th>Type</th>
          <th># of Crimes</th>
          <th>% share of Crimes in Precinct during Same Period </th>

      </tr>

      <% @totals.each do |type, total| %>
        <tr>
          <td><%= type.pluralize(2) %></td>
          <td><%= total %></td>
          <td><%= (total / @precinct_totals[type].to_f) * 100  %></td>
        </tr>
      <% end %>

      <tr>
        <td><strong>Total</strong></td>
        <td><strong><%= @totals.values.inject(:+) %></strong></td>
        <td><strong><%= (@totals.values.inject(:+) / @precinct_totals.values.inject(:+).to_f * 100 ) %></strong></td>
      </tr>

    </tablebody>
  </table>
</div>
