<div class="row">
  <div class="col-xs-12">
    <h1 id="results_header">Results for <span> Precinct <%= @precinct.name %>, Beat <%= @beat_name %></span> from <span> <%= Date.parse(@precinct_totals_data[0].report_date).strftime('%a, %-d %b %Y') %> </span> to <span> <%= Date.parse(@precinct_totals_data[-1].report_date).strftime('%a, %-d %b %Y') %> </span></h1>
  </div>

  <div class="col-sm-6">
    <table class = "table table-hover" id="totals-table">
      <tablebody>

        <tr>
          
            <th>Type</th>
            <th># of Crimes</th>
            <th>% of precinct crimes during same period </th>
            <th>% of city-wide crimes during same period</th>
            <th>Average number of crimes per month </th>
            <th>Avg. # of crimes/month from 2008-2014</th>
        </tr>

        <% @totals.each do |type, total| %>
          <tr>
            <td><%= type.pluralize(2) %></td>
            <td><%= total %></td>
            <% total = total.to_f %>
            <td><%= ((total / @precinct_totals[type]) * 100 ).round(2)%></td>
            <td><%= ((total / @city_crimes[type]) * 100).round(2)%></td>
            <td><%= (total / @num_months).round(2) %></td>
            <td>
              <%= (@all_crimes_in_dataset_in_area[type] / 72.0).round(2) %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td><strong>Total</strong></td>
          <td><strong><%= @totals.values.inject(:+) %></strong></td>
          <td><strong><%= (@totals.values.inject(:+) / @precinct_totals.values.inject(:+).to_f * 100 ).round(2) %></strong></td>
          <td><strong><%= (@totals.values.inject(:+) / @city_crimes.values.inject(:+).to_f * 100).round(2) %></strong></td>
          <td><strong><%= (@totals.values.inject(:+) / @num_months.to_f).round(2) %></strong></td>
          <td><strong><%= (@all_crimes_in_dataset_in_area.values.inject(:+) / 72.0).round(2) %></strong></td>
        </tr>
      </tablebody>
    </table>
  </div>

  <div class="col-xs-12">
    <%= render partial: 'form', 
      locals: { 
        precinct_options: @precinct_options, 
        beat_options: @beat_options,
        beat: @beat,
        precinct: @precinct,
        from_date: @from_date,
        to_date: @to_date
      } %>
  </div>

</div>
