<div class="row">
  <div class="col-xs-12">
    <h1 id="results_header">Results for <span> Precinct <%= @precinct.name %>, Beat <%= @beat_name %></span> from <span> <%= Date.parse(@precinct_totals_data[0].report_date).strftime('%a, %-d %b %Y') %> </span> to <span> <%= Date.parse(@precinct_totals_data[-1].report_date).strftime('%a, %-d %b %Y') %> </span></h1>
  </div>

  <div class="col-sm-10 col-sm-offset-1">
    <table class = "table table-hover" id="totals-table">
      <tablebody>

        <tr>
            <th>Type</th>
            <th># of crimes</th>
            <th>% of precinct crimes during same period </th>
            <th>% of city-wide crimes during same period</th>
            <th>Average # of crimes / month </th>
            <th>Avg. # of crimes / month from 2008-2014</th>
            <th>% uptick / downtick</th>
        </tr>

        <% @totals.each do |type, total| %>

          <tr>
            <td><%= type.pluralize(2) %></td>
            <td><%= total %></td>
            <% total = total.to_f %>
            <td><%= number_with_precision((total / @precinct_totals[type]) * 100, precision: 2) %></td>
            <td><%= number_with_precision((total / @city_crimes[type]) * 100, precision: 2) %></td>
            <td><% period_rate = (total / @num_months) %>
              <%= number_with_precision(period_rate, precision: 2) %>
            </td>
            <td>
              <% overall_rate = (@all_crimes_in_dataset_in_area[type] / months_in_dataset) %>
              <%= number_with_precision(overall_rate, precision: 2) %>
            </td>
            <td> <% tick = compare(period_rate, overall_rate) %> 
              <%= arrow_image_tag(tick) %>
              <%= number_with_precision(tick, precision: 2) %>
            </td>
          </tr>

        <% end %>

        <tr>
          <td><strong>Total</strong></td>
          <td><strong>
            <%= @totals.values.inject(:+) %>
          </strong></td>
          <td><strong>
            <%= number_with_precision(@totals.values.inject(:+) / @precinct_totals.values.inject(:+).to_f * 100, precision: 2) %>
          </strong></td>
          <td><strong>
            <%= number_with_precision(@totals.values.inject(:+) / @city_crimes.values.inject(:+).to_f * 100, precision: 2) %>
          </strong></td>
          <td><strong>
            <% period_total_avg_crime_rate = (@totals.values.inject(:+) / @num_months.to_f) %>
            <%= number_with_precision(period_total_avg_crime_rate, precision: 2) %>     
          </strong></td>
          <td><strong>
            <% dataset_total_avg_crime_rate = (@all_crimes_in_dataset_in_area.values.inject(:+) / months_in_dataset) %>
            <%= number_with_precision(dataset_total_avg_crime_rate, precision: 2) %>    
          </strong></td>
          <td><strong>
            <% overall_tick = compare(period_total_avg_crime_rate, dataset_total_avg_crime_rate) %>
            <%= arrow_image_tag(overall_tick) %>
            <%= number_with_precision(overall_tick, precision: 2) %>
          </strong></td>
        </tr>
      </tablebody>
    </table>
  </div>

  <div class="col-xs-12">
    <%= render partial: 'form', 
      locals: { 
        precinct_options: @precinct_options, 
        beat_options: @beat_options,
        beat: @beat,
        precinct: @precinct,
        from_date: @from_date,
        to_date: @to_date
      } %>
  </div>

</div>
